/* Reset */
html, body, div, span, applet, object, input, p, font, img, form{
	font-family: "微软雅黑", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
/* General Section */
body {
	background: #005b7f;
	margin: 0;
	text-align:center；
}
/* inputs */
.inputs {
	margin-top: 70px;
	vertical-align:middle;
	/*color: #4d4d4d;*/
}
.inputs input[type="text"], .inputs [type="password"]{
	width: 80%;
	height: 60px;
	background: #005b7f;
	color: #00DD00;
	font-size: 22px;
	margin-top: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:2px solid;
	margin-left: 10px;
	padding: 0px 10px;
}
.button {
	background: #005b7f;
    display: block;
    height: 60px;
    width: 88%;
    text-decoration: none;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    margin-left: 10px;
    margin-top: 15px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 10px;
}
