@charset "UTF-8";
/*A Flat Design Login Page by Codelator.com*/
body{
	background-color:#2c3335;
	color:#f5f5f5;
	text-align:center;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	/*background-image:url('http://7xj2y5.com1.z0.glb.clouddn.com/backImage.jpg');*/
	background-size:100% 100%;
}

a{
	color:#fff;
	text-decoration:none;
}
	
#loginform{
	margin-top:90px;
	margin-left:auto;
	margin-right:auto;
	width:270px;
}
	
.input{
	/*modified by shixing start*/
	background-color:transparent;
	border:1px #ffffff solid;
	/*modified by shixing end*/
	width:270px;
    padding:15px 25px;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	/*background: #f5f5f5;*/
	/*border:none;*/
	border-radius: 5px;
	color: #ffdd00;
	font-size: 18px;
	margin-top:15px;
}
.inputFinalCode{
	background-color:transparent;
	border:1px #ffdd00 solid;
	width:270px;
    padding:15px 25px;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	border-radius: 5px;
	color: #00DD00;
	font-size: 18px;
	margin-top:15px;
}
.plug{
	color:#DBDBEA;
	font-size: 10px;
}
.loginbutton{
	/*modified by shixing start*/
	background-color:transparent;
	border:1px #ffdd00 solid;
	/*modified by shixing end*/	
	/*background-color:#ffdd00;*/
	border-radius:5px/5px;
	-webkit-border-radius:5px/5px;
	-moz-border-radius:5px/5px;
	color:#ffdd00;
	display:inline-block;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:18px;
	font-weight:solid;
	width:270px;
	text-align:center;
	line-height:50px;
	text-decoration:none;
	height:50px;
	margin-top:20px;
	margin-bottom:20px;
	/*border:none;*/
	outline:0;
	cursor: pointer;
}

.loginbutton:active {
	position:relative;
	top:1px;
}
/*
.loginbutton:hover{
	background-color:#e5bf05;
}
*/
